// Variables
$bodyBg: rgba(189, 195, 199,1.0);
$headerBg: rgba(44, 58, 71,1.0);
$footerCtaBg: rgba(52, 73, 94,1.0);
$footerMainBg: rgba(44, 62, 80,1.0);
$footerCreditsBg: rgba(47, 54, 64,1.0);
$main-link-color: rgba(0, 168, 255,1.0);
$main-link-hover: rgba(0, 151, 230,1.0);
$header-a-bg: #3498db;
$header-a-hover: #2980b9;
$header-link-color: rgba(220, 221, 225,1.0);
$header-link-hover: rgba(245, 246, 250,1.0);
$footer-link-color: rgba(127, 143, 166,1.0);
$footer-link-hover: rgba(113, 128, 147,1.0);
$button-bg: rgba(0, 168, 255,1.0);
$button-hover: rgba(0, 151, 230,1.0);
$button-text-color: rgba(245, 246, 250,1.0);
$button-text-hover: rgba(245, 246, 250,1.0);

$wrap-width: 1400px;

// body

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.wrap{
  max-width: $wrap-width;
  margin: 0 auto;
}

// Site header

nav.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  .site-logo{
    max-width: 200px;
    img{
      display: flex;
    align-items: center;
      width: 100%;
    }
  }
}
.head-navigation{
  display: flex;
  list-style-type: none;
  align-items: center;
  font-weight: 700;
  a {
    padding: 2.5px 20px;
    color: $button-bg;
    text-decoration: none;
    &:hover{
      color: $footerCreditsBg;
    }
  }

}

.menu-toggle-button {
  display: none;
  .menu-line{
    height: 3px;
    width: 25px;
    margin: 3px 0;
    background-color: $button-bg;
  }
}
// Site content

// Site Footer

// Media Queries

@media (max-width: 767px) {

  .site-header {
    flex-wrap: wrap;
    .site-logo{
      width: 90%;
    }
    .menu-toggle-button{
      width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
    .menu-toggle-button,
    .site-logo {
      padding: 0 2vw;
    }
  }

  .menu-toggle-button {
    display: block;
    cursor: pointer;
  }
  .head-navigation {
    display: none;
  }
  .head-navigation.isActive{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    a, li {
      display: flex;
      min-width: 100%;
      align-items: center;
      justify-content:center;
      
    }
    a{
      background-color: $button-bg;
      color: $button-text-color;
      font-weight: normal;
      height: 15vh;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0,0,0.1);
      &:hover{
        background-color: $button-hover;
        color: $button-text-color;
      }
    }
  }

}