// Variables
$bodyBg: rgba(189, 195, 199,1.0);
$headerBg: rgba(44, 58, 71,1.0);
$footerCtaBg: rgba(52, 73, 94,1.0);
$footerMainBg: rgba(44, 62, 80,1.0);
$footerCreditsBg: rgba(47, 54, 64,1.0);
$main-link-color: rgba(0, 168, 255,1.0);
$main-link-hover: rgba(0, 151, 230,1.0);
$header-a-bg: #3498db;
$header-a-hover: #2980b9;
$header-link-color: rgba(220, 221, 225,1.0);
$header-link-hover: rgba(245, 246, 250,1.0);
$footer-link-color: rgba(127, 143, 166,1.0);
$footer-link-hover: rgba(113, 128, 147,1.0);
$button-bg: rgba(0, 168, 255,1.0);
$button-hover: rgba(0, 151, 230,1.0);
$excerpt-button: #2863ec;
$excerpt-hover: #000;
$button-text-color: rgba(245, 246, 250,1.0);
$button-text-hover: rgba(245, 246, 250,1.0);

$wrap-width: 1200px;

// body

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.flexbox {
  display: flex;
  flex-wrap: wrap;
}
img {
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrap{
  max-width: $wrap-width;
  margin: 0 auto;
}

// Site header

.header-container{
  border-bottom: 1px solid #ddd;
}

nav.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .site-logo{
    max-width: 200px;
    img{
      display: flex;
    align-items: center;
      width: 100%;
    }
  }
}
.head-navigation{
  display: flex;
  list-style-type: none;
  align-items: center;
  font-weight: 700;
  a {
    padding: 2.5px 20px;
    color: $button-bg;
    text-decoration: none;
    &:hover{
      color: $footerCreditsBg;
    }
  }

}

.menu-toggle-button {
  display: none;
  .menu-line{
    height: 3px;
    width: 25px;
    margin: 3px 0;
    background-color: $button-bg;
  }
}
// Site content

.main-container {
  background-color: #f5f6f8;
}

.site-inner {
  padding: 2rem 0;
}

.post-list {
  max-width: 80%;
}
.post-list .entry {
  max-width: 45%;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0px 7px 14px 0px rgba(151,160,204,0.12);
  background-color: #fff;
  border-radius: 12px;
  transition: all 0.3s ease;
  &:hover{
    box-shadow: none;
  }
  img{
    border-radius: 12px;  
  }
}
.entry-meta {
  padding: 1rem 0;
  span{
    font-size: .75rem;
    padding: .1rem .5rem;
  }
  a{
    text-decoration: none;
  }
  .entry-date{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
.entry .entry-title{
  font-size: 1.35rem;
    padding: 0.5rem 0 0;
  a {
    text-decoration: none;
    color: #333;
  }
}
.entry-excerpt,
.read-more-button {
  padding: 1rem 0;
}
.read-more-button a{
  background-color: $excerpt-button;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
  border-radius: 3px;
  color: #fff;
  font-size: .75rem;
}

.sidebar {
  width: 20%;
  flex-wrap: nowrap;
  flex-direction: column;
} 

.archive-pagination {
  flex-direction: column;
  width: 100%;
  padding: 3rem 0rem;
  ul{
    list-style-type: none;
    li{
      margin: 0.5rem;
      a{
        padding: 0.5rem 0.75rem;
        font-size: 80%;
        text-decoration: none;
        font-weight: bold;
        border-radius: 3px;
        display: flex;
        border-radius: 5%;
        align-items: center;
        text-align: center;
        justify-content: space-evenly;
        background-color: #fff;
        box-shadow: 0px 7px 14px 0px rgba(151,160,204,0.12);
        transition: all 0.3s ease;
        &:hover{
          background: $button-bg;
          color: #fff;
        }
      }
    }
  }
}

// Site Footer

.footer-main widget,
.footer-ctr .wrap {
  padding: 1.5rem;
}

.footer-main .widget-1{
  width: 50%;
}
.footer-main .widget-2,
.footer-main  .widget-3{
  width: 25%;
}
.footer-credits .wrap{
  padding: 0.5rem;
  text-align: center;
}

// Media Queries

@media (max-width: 767px) {

  .site-header {
    flex-wrap: wrap;
    .site-logo{
      width: 90%;
    }
    .menu-toggle-button{
      width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    }
    .menu-toggle-button,
    .site-logo {
      padding: 0 2vw;
    }
  }

  .menu-toggle-button {
    display: block;
    cursor: pointer;
  }
  .head-navigation {
    display: none;
  }
  .head-navigation.isActive{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    a, li {
      display: flex;
      min-width: 100%;
      align-items: center;
      justify-content:center;
      
    }
    a{
      background-color: $button-bg;
      color: $button-text-color;
      font-weight: normal;
      height: 5.5 vh;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0,0,0.1);
      &:hover{
        background-color: $button-hover;
        color: $button-text-color;
      }
    }
  }

}