// Variables
$bodyBg: rgba(189, 195, 199,1.0);
$headerBg: rgba(44, 58, 71,1.0);
$footerCtaBg: rgba(52, 73, 94,1.0);
$footerMainBg: rgba(44, 62, 80,1.0);
$footerCreditsBg: rgba(47, 54, 64,1.0);
$main-link-color: rgba(0, 168, 255,1.0);
$main-link-hover: rgba(0, 151, 230,1.0);
$header-a-bg: #3498db;
$header-a-hover: #2980b9;
$header-link-color: rgba(220, 221, 225,1.0);
$header-link-hover: rgba(245, 246, 250,1.0);
$footer-link-color: rgba(127, 143, 166,1.0);
$footer-link-hover: rgba(113, 128, 147,1.0);
$button-bg: rgba(0, 168, 255,1.0);
$button-hover: rgba(0, 151, 230,1.0);
$button-text-color: rgba(245, 246, 250,1.0);
$button-text-hover: rgba(245, 246, 250,1.0);

$wrap-width: 1400px;

// body

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body {
  margin: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}
.wrap{
  max-width: $wrap-width;
  margin: 0 auto;
}

// Site header

nav.site-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  .site-logo{
    max-width: 200px;
    img{
      display: flex;
    align-items: center;
      width: 100%;
    }
  }
  ul.head-navigation{
    display: flex;
    list-style-type: none;
    align-items: center;
    a {
      padding: 2.5px 20px;
      margin: 0 5px;
      background-color: $header-a-bg;
      color: $button-text-color;
      text-decoration: none;
      &:hover{
        background-color: $header-a-hover;
      }
    }

  }
}

// Site content

// Site Footer

// Media Queries

